<div class="home-page-container">
    
    <section class="hero-section">
        <app-hero-carousel></app-hero-carousel>
    </section>

    <!-- <section class="stats-bar-section">
        <app-stats></app-stats>
    </section> -->

    <!-- <section class="intro-video-section">
        <app-video-card></app-video-card>
    </section> -->
    
    <section class="specialties-section">
        <app-specialties-ce></app-specialties-ce>
    </section>

    <section class="network-section">
        <app-network></app-network>
    </section>
    
    <section class="patient-stories-section">
        <app-patient-stories></app-patient-stories>
    </section>

    </div>